@import url("//unpkg.com/iview/dist/styles/iview.css");

#datepicker{
    float:left;
    padding: 24px;
    width:340px;
}

.batchPicker{
    float:left;
    padding: 30px;
    width: 800px;
}


@media screen and (max-width:740px) {
    /* Customize the label (the container) */
    .container {
        float:left;
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .searchButton{
        float:left;
        padding: 24px;
        width:340px;
    }

    .button{
        font-size: 14px;
        color: dodgerblue;
        background-color: white;
        padding: 8px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
    }
}

@media screen and (min-width:740px) {
    /* Customize the label (the container) */
    .container {
        width: 240px;
        float:left;
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .searchButton{
        float:left;
        padding: 24px;
        width:340px;
    }

    .button{
        font-size: 16px;
        color: dodgerblue;
        background-color: white;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
    }

}



/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    padding:10px;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.searchBtn:hover{
    background-color: #2B7CE9;
    color: white;
}


.searchBtn2:hover{
    background-color: cornflowerblue;
    color: white;
}
